<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/button',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<body>
<div class="container">
    <h2>Submit Model</h2>
        <form>
            <a href=# id=test><button class='btn btn-default'>update</button></a>
        </form>
</div>
</body>